<div class="container">
    <h3>Nos acompanhe nas redes sociais</h3>
    <div class="redes-sociais">
        <a [href]="linkFacebook" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-square-facebook" style="font-size: 40px;"></i>
        </a>
        <a [href]="linkInstagram" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram" style="font-size: 40px;"></i>
        </a>
      </div>      
    <span class="">© Copyright 2024 - Instituto João Rodrigues | Política de Privacidade </span>
</div>
<div class="espaço"></div>