<!-- Skeleton Loader -->
<div *ngIf="isLoading" class="skeleton-quem-foi">
    <div class="skeleton-title"></div>
    <div class="skeleton-corpo-quadro">
      <div class="skeleton-foto"></div>
      <div class="skeleton-texto">
        <div class="skeleton-paragraph"></div>
        <div class="skeleton-paragraph"></div>
        <div class="skeleton-paragraph"></div>
      </div>
    </div>
  </div>
  
<!-- QUEM FOI JOAO -->
<div *ngIf="!isLoading" class="quem-foi">
    <h1>{{ title }}</h1>
    <div class="corpo-quadro">
        <div class="foto-joao">
            <img [src]="image" alt="foto joao" />
        </div>
        <div class="texto-quem-foi">
            <p class="p-quem-foi">{{ textline1 }}</p>
            <p class="p-quem-foi">{{ textline2 }}</p>
        </div>
    </div>
</div>
