<!-- Skeleton Loader -->
<div *ngIf="isLoading" class="skeleton-container">
    <div class="skeleton-texto-frame">
        <div class="skeleton-title"></div>
        <div class="skeleton-paragraph"></div>
        <div class="skeleton-paragraph"></div>
    </div>
    <div class="skeleton-imagem-container"></div>
</div>
  
  <!-- Conteúdo Real -->
  <div *ngIf="!isLoading" class="container-o-instituto" id="o-instituto">
    <div class="texto-frame-1">
      <h1>{{ title }}</h1>
      <p [innerHTML]="content"></p>
    </div>
  
    <div class="imagem-container-frame-1">
      <img [src]="image" alt="foto de família">
    </div>
  </div>
  