<!-- Skeleton Loader -->
<div *ngIf="isLoading" class="skeleton-container">
    <div class="skeleton-infos">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text">
        <div class="skeleton-title"></div>
        <div class="skeleton-paragraph"></div>
      </div>
    </div>
  
    <div class="skeleton-infos">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text">
        <div class="skeleton-title"></div>
        <div class="skeleton-paragraph"></div>
      </div>
    </div>
  
    <div class="skeleton-infos">
      <div class="skeleton-icon"></div>
      <div class="skeleton-text">
        <div class="skeleton-title"></div>
        <div class="skeleton-paragraph"></div>
      </div>
    </div>
  </div>
  




<div *ngIf="!isLoading" class="container">
    <div class="infos">
        <i class="fa-solid fa-hand-holding-heart"></i>
        <div>Mais de <h1>{{numeroAlunoBeneficiado}}</h1> alunos <br> beneficiados</div>
    </div>

    <div class="infos">
        <i class="fa-solid fa-people-group"></i>
        <div>Mais de <h1>{{numeroEmpregos}}</h1> empregos</div>
    </div>

    <div class="infos">
        <i class="fa-solid fa-handshake-angle"></i>
        <div>Mais de <h1>{{numeroVoluntarios}}</h1> voluntários</div>
    </div>
    
</div>