<div *ngIf="isLoading" class="skeleton-container-metodologia">
    <div class="skeleton-cabecalho-metodologia">
      <div class="skeleton-title"></div>
      <div class="skeleton-subtitle"></div>
    </div>
  
    <div class="skeleton-cards">
      <div class="skeleton-card">
        <div class="skeleton-icon"></div>
        <div class="skeleton-text-group">
          <div class="skeleton-card-title"></div>
          <div class="skeleton-card-paragraph"></div>
        </div>
      </div>
      <div class="skeleton-card">
        <div class="skeleton-icon"></div>
        <div class="skeleton-text-group">
          <div class="skeleton-card-title"></div>
          <div class="skeleton-card-paragraph"></div>
        </div>
      </div>
      <div class="skeleton-card">
        <div class="skeleton-icon"></div>
        <div class="skeleton-text-group">
          <div class="skeleton-card-title"></div>
          <div class="skeleton-card-paragraph"></div>
        </div>
      </div>
    </div>
  
    <div class="skeleton-container-rodape">
      <div class="skeleton-paragraph"></div>
      <div class="skeleton-paragraph"></div>
    </div>
  </div>
  



<!-- METODOLOGIA -->
<div *ngIf="!isLoading" class="container-metodologia">
    <div class="cabecalho-metodologia">
        <h1>{{ title }}</h1>
        <p class="sub-titulo-metodologia">{{textline1}}</p>
    </div>

    <div class="cards">
        <div class="card1">
            <div class="icone-card"><i class="fa-solid fa-book-open" style="font-size: 90px;"></i></div>
            <div class="textos-card">
                <p class="texto-card">{{titlecard1}}</p>
                <p class="texto-card">{{textcard1}}</p>
            </div>
        </div>

        <div class="card1">
            <div class="icone-card"><i class="fa-solid fa-children" style="font-size: 90px;"></i></div>
            <div class="textos-card">
                <p class="texto-card">{{titlecard2}}</p>
                <p class="texto-card">{{textcard2}}</p>
            </div>
        </div>

        <div class="card1">
            <div class="icone-card"><i class="fa-solid fa-lightbulb" style="font-size: 90px;"></i></div>
            <div class="textos-card">
                <p class="texto-card">{{titlecard3}}</p>
                <p class="texto-card">{{textcard3}}</p>
            </div>
        </div>
    </div>

    <div class="container-rodape">
        <p class="texto-rodape">{{textrodape1}}</p>
        <p class="texto-rodape">{{textrodape2}}</p>
    </div>
 </div>